<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806149464222-1va0ggce9mfm69bml0up6kjru0cehajp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806149464222-1va0ggce9mfm69bml0up6kjru0cehajp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806149464222-q8ofndtok4d3muvmvcj6ul85nu2ugl9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfQld0rF23dfgUFHSPIuVBS3sbF9D6AEw</string>
	<key>GCM_SENDER_ID</key>
	<string>806149464222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivocosta.climber</string>
	<key>PROJECT_ID</key>
	<string>climber-3b27e</string>
	<key>STORAGE_BUCKET</key>
	<string>climber-3b27e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806149464222:ios:4885424398dafcb4035b8f</string>
</dict>
</plist>